log/development.log

tmp/
tmp/cache/
log/development.log
app/controllers/youtube-quickstart-ruby-credentials.yaml
app/controllers/client_secret.json
config/credentials.yml.enc
config/master.key
/config/master.key
app/controllers/authCredentials.yaml

/config/master.key
db/development.sqlite3

/config/master.key
