<div id="<%= dom_id affiliation %>">
  <p>
    <strong>Cliente:</strong>
    <%= affiliation.cliente %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= affiliation.manager %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= affiliation.status %>
  </p>

</div>
